h1{
    color: red;
    background-color: yellow;
}
.paragraf{
    color:blue;
    background-color:green;
}
.header {
    background-color: #347931;
    text-align: center;
    padding: 200px;
  }